<!DOCTYPE html>
<html lang="zh-TW">

<!-- Mirrored from demos.onepagelove.com/html/atlas/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Jun 2021 15:07:25 GMT -->

<head>

    <!-- OPL Demos Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-3920997-4', 'auto');
        ga('send', 'pageview');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>INTRO US</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="https://demos.onepagelove.com/html/atlas/img/favicon.png" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="https://demos.onepagelove.com/html/atlas/css/custom.css">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="https://demos.onepagelove.com/html/atlas/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://demos.onepagelove.com/html/atlas/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- AOS -->
    <link rel="stylesheet" href="https://demos.onepagelove.com/html/atlas/css/aos.css">
    <style>
        .logo {
            height: 100px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/450/179/734/black-cool-dark-laptop-background-wallpaper-preview.jpg);">
        <div class="container text-center text-md-left">
            <header>
                <div class="logo justify-content-center align-items-center align-content-center">
                    <img style="max-width:150px;text-align:center;" src="" alt="">
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5" style="color: black;">
                SELF SKY<br>A New Way<br> To Secure Your Data
            </h1>
            <!-- <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
                Lorem ipsum dolor sit amet, id nec enim autem oblique, ei dico mentitum duo.
                <br> Illum iusto laoreet his te. Lorem partiendo mel ex. Ad vitae admodum voluptatum per.
            </p> -->
            <a href="/" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Rigister</a>
        </div>
    </div>
    <!-- three-blcok -->
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5">Protect your data securely</h2>
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="https://demos.onepagelove.com/html/atlas/img/smart-protect-1.jpg" alt="Anti-spam" class="mx-auto">
                <h4>Secure data </h4>
                <p>On an server site we can't Access your data only you can Access your data </p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="https://demos.onepagelove.com/html/atlas/img/smart-protect-2.jpg" alt="Phishing Detect" class="mx-auto">
                <h4>Many services's</h4>
                <p>We provide you a note,password,document and also about people</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="https://demos.onepagelove.com/html/atlas/img/smart-protect-3.jpg" alt="Smart Scan" class="mx-auto">
                <h4>Password generator</h4>
                <p>We provide you a randome password generator they generat a highly secure password</p>
            </div>
        </div>
    </div>
    <!-- feature (skew background) -->


    <!-- price table -->
    <div class="container my-5 py-2" id="price-table">
        <h2 class="text-center font-weight-bold d-block mb-3">Check our users</h2>
        <div class="row">
            <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <!-- <h4 class="my-4">STARTUP</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Up to 5 Documents</li>
                    <li>Up to 3 Reviews</li>
                    <li>5 team Members</li>
                    <li>Limited Support</li>
                </ul>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a> -->
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
                <h4 class="my-4">TOTAL TRUSTED USER</h4>
                <p class="font-weight-bold"><span class="display-2 font-weight-bold">{{countuser}}</span></p>
            </div>
            <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
                <!-- <h4 class="my-4">PROFESSIONAL</h4>
                <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p>
                <ul class="list-unstyled">
                    <li>Unlimited Documents</li>
                    <li>Unlimited Reviews</li>
                    <li>Unlimited Members</li>
                    <li>Unlimited Support</li>
                </ul>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a> -->
            </div>
        </div>
    </div>
    <!-- client -->

    <!-- contact -->


    <!-- copyright -->
    <div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    Copyright © 2020 JAY RATHOD
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="https://www.instagram.com/_jay_26_01/" class="d-inline-block text-center ml-2">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/JayRath88875779" class="d-inline-block text-center ml-2">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/jkrathod2601" class="d-inline-block text-center ml-2">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/jay-rathod-6866bb16a/" class="d-inline-block text-center ml-2">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- AOS -->
    <script data-cfasync="false" src="https://demos.onepagelove.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://demos.onepagelove.com/html/atlas/js/aos.js"></script>
    <script>
        AOS.init({});
    </script>
</body>


<!-- Mirrored from demos.onepagelove.com/html/atlas/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Jun 2021 15:07:25 GMT -->

</html>